<html>
<head>
<title>{% if not page.is_public %}(DRAFT){% endif %}{{ page.title }}</title>
</head>
<body>
<h1>{% if not page.is_public %}(DRAFT){% endif %}{{ page.title }}</h1>

{% for block in page.pageblock_set.all %}
    {% if block.content %}
    <div>
    {{ block.content }}
    </div>
    {% endif %}
    {% if block.image %}
    <div>
    <img src="{{ block.image.image.url }}" />
    </div>
    {% endif %}
{% endfor %}

<div>
In
{% for category in page.categories.all %}
    <a href="">{{ category.name }}</a>{% if not forloop.last %},{% endif %}
{% endfor %}
</div>
</body>
</html>
